.skeleton {
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  height: 100%;
  overflow: hidden;

  animation: appear 0.2s forwards;
}

.dark {
  background-color: rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  padding: 1rem;
  width: 100%;
}

.shimmer{
  position: absolute;
  width: 10%;
  height: 100%;

  background: linear-gradient(100deg,
    rgba(255,255,255,0) 20%,
    rgba(255,255,255,0.75) 50%,
    rgba(255,255,255,0) 80%);

  animation: shimmer 1s infinite linear;
}

@keyframes shimmer{
  from {
    transform: translateX(-100dvw);
  }
  to{
    transform: translateX(100dvw);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
