.wrapper {
  display: flex;
  padding: 32px 100px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  background-color: var(--color-accent);
}

.title {
  font-family: "Russo One", sans-serif;
  max-width: 300px;
  color: white;
  margin-left: 1rem;
  font-weight: normal;
}

.logo {
  width: 64px;
  height: 64px;
}
