.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 100px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  background-color: var(--color-accent);
}

.profile-container {
  --mat-badge-container-overlap-offset: -20px;

  &:hover {
    .profile {
      filter: drop-shadow(0 0 20px rgb(255, 0, 77));
    }
  }
}

.profile {
  width: 64px;
  height: 64px;
  transition-duration: 0.2s;
}

.link {
  display: flex;
  text-decoration: none;

  &:hover {
    .title {
      filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
    }
  }
}

.title {
  font-family: "Russo One", sans-serif;
  max-width: 300px;
  color: white;
  margin-left: 1rem;
  font-weight: normal;
  transition-duration: 0.2s;
}

.logo {
  width: 64px;
  height: 64px;
}
