<mat-card class="history-info">
  <div class="display">
    <button mat-icon-button (click)="openDialog(history)">
      <mat-icon fontIcon="info" />
    </button>
    <h3 class="card-info">Заявка {{ number }}</h3>
  </div>
  <div class="date">{{ toDate(history.dateStart) }} - {{ toDate(history.dateEnd) }}</div>
  <p class="status" [ngClass]="{
    'status1': history.status === 'Выполнено',
    'status2': history.status === 'Принято',
    'status3': history.status === 'Отклонено',
    'status4': history.status === 'Ожидание'
  }">{{ history.status }}</p>
  <button *ngIf="history.status !== 'Ожидание' ; else edit_btn" mat-icon-button class="delete-btn" (click)="deleteHistory()">
    <mat-icon fontIcon="delete"></mat-icon>
  </button>
  <ng-template #edit_btn>
    <button mat-icon-button (click)="openEditDialog(history)">
      <mat-icon svgIcon="edit"></mat-icon>
    </button>
  </ng-template>
</mat-card>
