<mat-card class="history-info">
  <div class="display">
    <button mat-icon-button><img ngSrc="assets/svg/Info.jpg" width="36" height="36" /></button>
    <h3 class="card-info">{{ history.id }}</h3>
  </div>
  <div class="date">{{ history.date }}</div>
  <p [ngClass]="{
  'status': history.status === 'Выполнено',
  'status2': history.status === 'Подтверждено',
  'status3': history.status === 'Отклонено',
  'status4': history.status === 'В ожидании'
  }">{{ history.status }}</p>
  <button *ngIf="history.status === 'Выполнено'" mat-icon-button><img ngSrc="assets/svg/korzina.svg" width="42" height="42"/></button>
  <ng-container *ngIf="history.status == 'Выполнено'; else redactor "></ng-container>
  <ng-template #redactor>
    <button mat-icon-button><img ngSrc="assets/svg/redactor.svg" width="42" height="42"/></button>
  </ng-template>
</mat-card>
