.history-info {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  border-radius: 8px;
  background: var(--history-card-color);
}

.display {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-info {
  font-size: 2rem;

  @media (width < 1680px) {
    font-size: 1.5rem;
  }
}

.date {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;

  @media (width < 1680px) {
    display: none;
  }
}

.status {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 16px;
  margin-left: auto;
  white-space: nowrap;

  @media (width < 728px) {
    font-size: 0.75rem;
  }
}

.status1 {
  background-color: #0073c6;
}

.status2 {
  background-color: #00c673;
}

.status3 {
  background-color: #cc0062;
}

.status4 {
  background-color: #ece41e;
}

.delete-btn {
  background-color: var(--color-red);
}

