.wrapper {
  min-width: 150px;
  min-height: 100px;
  background-color: var(--cell-color);
  color: var(--text-color-dark);

  &:hover {
    transition: 0.1s ease-in;
    background-color: var(--cell-color-hover);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transform: translate(-2px, -2px);
  }

  @media (width < 1200px) {
    min-width: 125px;
    min-height: 85px;
  }

  @media (width < 1000px) {
    min-width: 90px;
    min-height: 70px;
  }
}

.transparent {
  opacity: 0.7;
}

.header {
  mat-card-title {
    position: absolute;
    left: 15px;
    font-size: 1.125rem;
    font-family: "Russo One", "Helvetica Neue", sans-serif;

    @media (width < 1200px) {
      font-size: 0.875rem;
      left: 10px;
    }
  }

  mat-card-subtitle {
    position: absolute;
    font-family: "Russo One", "Helvetica Neue", sans-serif;
    right: 15px;

    @media (width < 1200px) {
      right: 10px;
    }
  }
}

.content {
  margin-top: auto;

  p {
    background-color: var(--color-green);
    padding: 0.25rem;
    border-radius: 8px;
    color: var(--text-color-light);
    width: fit-content;
  }
}

.today {
  background-color: var(--cell-today-color);
  color: var(--text-color-light);

  &:hover {
    background-color: var(--cell-today-color-hover);
  }

  @media (width < 1200px) {
    font-size: 0.725rem;
  }
}

.day-off {
  background-color: var(--cell-dayoff-color);
  color: var(--text-color-light);

  &.today {
    background-color: var(--cell-today-dayoff-color);

    &:hover {
      background-color: var(--cell-today-dayoff-color-hover);
    }
  }

  &:hover {
    background-color: var(--cell-dayoff-color-hover);
  }
}
