.wrapper {
  min-width: 150px;
  min-height: 120px;
  background-color: var(--cell-color);
  color: var(--text-color-dark);

  h2 {
    font-size: 1.125rem;
  }
}

.transparent {
  opacity: 0.8;
}

.today {
  background-color: var(--cell-today-color);
  color: var(--text-color-light);
}
