.title {
  font-family: "Russo One", "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
}

.actions{
  padding: 20px;
  background: var(--color-accent);
  border-radius: 8px;
  font-size: 1.5rem;
  margin-inline: auto;
}
