<div class="wrapper">
  <h2 class="title">Календарь</h2>
  <div class="month-picker">
    <button mat-icon-button (click)="changeMonth(-1)">
      <mat-icon svgIcon="arrow" class="arrow-prev" />
    </button>
    <div class="month-picker__date">
      <p>{{ monthName }}</p>
      <span>{{ currentYear }}</span>
    </div>
    <button mat-icon-button (click)="changeMonth(1)">
      <mat-icon svgIcon="arrow" class="arrow-next" />
    </button>
  </div>
  <div class="btn-container">
    <button mat-raised-button color="primary" class="new-btn" (click)="openNewRequestDialog()" >Новая заявка</button>
  </div>
</div>
