.wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.title {
  font-size: 2.5rem;
  flex: 1;
  font-weight: normal;

  @media (width < 1200px) {
    font-size: 2rem;
  }
}

.month-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding-inline: 100px;

  &__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    font-family: "Russo One", "Helvetica Neue", sans-serif;
    font-size: 2rem;

    @media (width < 1200px) {
      font-size: 1.5rem;
    }
  }

  span {
    font-family: Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 1.125rem;
    color: var(--text-color-transparent);
    font-weight: bold;

    @media (width < 1200px) {
      font-size: 0.875rem;
    }
  }
}

.arrow-next {
  transform: rotate(180deg);
}

.btn-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.new-btn {
  font-size: 1.25rem;

  @media (width < 1200px) {
    font-size: 0.875rem;
  }
}
