<div class="wrapper">
  <div class="container">
    <app-calendar-header class="header"
                         (changeMonthEvent)="changeMonth($event)"
                         [currentMonth]="monthWithOffset"
                         [currentYear]="yearWithOffset" />
    <app-calendar-main class="main"
                       [monthOffset]="monthOffset"
                       [yearOffset]="yearOffset"
                       [beforeDays]="beforeDays"
                       [currentDay]="currentDay"
                       [currentMonthDays]="currentMonthDays"
                       [fillDays]="fillDays" />
  </div>
</div>
