.wrapper {
  display: flex;
  justify-content: space-between;
  padding-block: 15px;
  gap: 50px;

  @media (width < 1200px) {
    flex-direction: column;
  }
}

.user-section {
  flex: 1;
}

.history-section {
  flex: 2;
}

.manager-section {
  flex: 2;
}

.loader {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: scale(1.5);
}
