.wrapper {
  background-color: var(--color-primary);
  width: fit-content;
  padding: 25px;
  margin: 50px 100px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  color: var(--text-color-light);
}

.form {
  display: flex;
  flex-direction: column;

  & > input {
    margin-bottom: 30px;
  }

  &__label {
    font-family: "Russo One", "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  &__input {
    font-size: 1.75rem;
    padding: 10px 15px;
    border-radius: 8px;
    color: var(--text-color-dark);
  }
}

.top-container {
  display: flex;
  gap: 15px;
  margin-bottom: 35px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__name {
    font-size: 2rem;
    font-family: "Russo One", "Helvetica Neue", sans-serif;
  }

  &__dep, &__role {
    color: var(--text-color-transparent);
    font-size: 1.5rem;
  }
}
