<mat-card class="manager-info">
  <div class="display">
    <button mat-icon-button (click)="openInfoDialog(history)">
      <mat-icon fontIcon="info"></mat-icon>
    </button>
    <h3 class="card-info">Заявка {{ number }}</h3>
    <div class="info">
      <p>{{ user.lastName }} {{ user.firstName }}</p>
      <p class="date">{{ toDate(history.dateStart) }} - {{ toDate(history.dateEnd) }}</p>
    </div>
    <div>
      <button mat-raised-button class="accept" (click)="openAcceptDialog()">Принять</button>
      <button mat-raised-button class="deny" (click)="openDenyDialog()">Отклонить</button>
    </div>
  </div>
</mat-card>
