.manager-info {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  border-radius: 8px;
  background: var(--mager-card-color);
}

.display {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-info {
  font-size: 2rem;
  margin-right: 20px;

  @media (width < 1680px) {
    font-size: 1.5rem;
  }
}

.info {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
  margin-right: 270px;
  @media (width < 1680px) {
    display: none;
  }
}

.date{
  color: #ffffff80;
  font-size: 12px;
}

.status {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 16px;
  margin-left: auto;
  white-space: nowrap;

  @media (width < 728px) {
    font-size: 0.75rem;
  }
}
.accept{
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #00c673;
}
.deny{
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #cc0062;
}
