<mat-card *ngIf="department$ | async as department;else pageLoader"
          class="department-page">
  <mat-card-header class="department-page__header">
    <div class="department-page__btns">
      <button mat-stroked-button (click)="goBack()">
        <mat-icon fontIcon="arrow_back_ios" />
        Назад
      </button>
      <button mat-stroked-button (click)="openDepartmentEditDialog()">
        <mat-icon fontIcon="edit" />
        Редактировать
      </button>
      <button mat-stroked-button color="warn" (click)="openDepartmentDeleteDialog()">
        <mat-icon fontIcon="delete" />
        Удалить
      </button>
    </div>
    <mat-card-title class="department-page__title">{{ department.name | titlecase }}</mat-card-title>
  </mat-card-header>

  <mat-divider />

  <mat-card-content class="department-page__content" *ngIf="manager$ | async as manager;else sectionLoader">

    <app-department-section name="Информация">
      <div class="department-page__info" *ngIf="manager;else sectionLoader">
        <div class="department-page__manager manager">
          <h4 class="manager__title">Управляющий</h4>
          <p class="manager__name"><span>{{manager.name}}</span></p>
          <p class="manager__email">{{manager.email}}</p>
          <p class="manager__phone">{{manager.phone}}</p>
        </div>
      </div>
    </app-department-section>

    <app-department-section name="Сотрудники" expanded>
      <mat-form-field color="accent" floatLabel="auto">
        <mat-label>Поиск</mat-label>
        <input matInput autocomplete="off" #employee_search>
      </mat-form-field>
      <button mat-raised-button color="accent" class="department-page__add-employee-btn"
              (click)="openEmployeeAddDialog()">
        <mat-icon fontIcon="add" />
        Добавить сотрудника
      </button>
      <div *ngIf="employees$ | async as employees;else sectionLoader" class="department-page__employees">
        @if (employees.length !== 0) {
          <app-employees-employee *ngFor="let employee of employees |
                                  filter:['name', 'email', 'phone']
                                   :employee_search.value; let i = index"
                                  [employee]="employee"
                                  [isDeleteLocked]="employee.id === manager.id" />
        } @else {
          <p>Список пуст</p>
        }
      </div>
    </app-department-section>

  </mat-card-content>

  <ng-template #sectionLoader>
    <app-loader class="section-loader" />
  </ng-template>

</mat-card>

<ng-template #pageLoader>
  <app-loader class="page-loader" />
</ng-template>
