.department-card {
  background-color: var(--color-bg);

  &__title {
    font-family: "Russo One", "Helvetica Neue", sans-serif;
    font-size: 1.25rem;
    flex: 0;
    white-space: nowrap;
  }

  &__employees {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__actions {
    justify-content: flex-start;
  }

  &__edit-btn {
    background-color: var(--color-yellow);
  }
}
