<mat-card class="wrapper">
  <mat-card-header class="header">
    <mat-card-title class="title">Управление сотрудниками</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <ul class="departments" *ngIf="(isLoading$ | async) === false;else loader">
      <li *ngFor="let department of departments$ | async">
        <app-employees-department [department]="department" />
      </li>
    </ul>
    <ng-template #loader>
      <p>Loading...</p>
    </ng-template>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-raised-button
            color="accent"
            (click)="openDepartmentCreateDialog()"
    >
      <mat-icon fontIcon="add" />
      Создать новый отдел
    </button>
  </mat-card-actions>
</mat-card>
