@mixin md-icon-size($size: 1rem) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

.wrapper {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 50px;
  gap: 10px;
}

.content, .actions {
  padding-inline: 20px;
}

.add-button {
  --mdc-protected-button-container-color: var(--color-bg);
  height: 100%;
  min-height: 200px;
  width: 100%;
  transition-duration: 0.2s;

  &:hover {
    transform: translate(-2px, -2px);
    --mdc-protected-button-hover-container-elevation-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  }

  mat-icon {
    @include md-icon-size(3rem);
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}

.departments {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;

  &__department {
    height: 100%;
  }
}

.title {
  font-size: 1.75rem;
  font-family: "Russo One", "Helvetica Neue", sans-serif;
  white-space: nowrap;
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
}
