<mat-card class="wrapper">
  <mat-card-header class="header">
    <mat-card-title class="title">Управление сотрудниками</mat-card-title>
  </mat-card-header>
  <mat-divider />
  <mat-card-content class="content">
    <ul class="departments">
      <ng-container *ngIf="departments$ | async as departments;else skeleton5 ">
        <li *ngFor="let department of departments">
          <app-department-card [department]="department" class="departments__department" />
        </li>
      </ng-container>
      <li>
        <button mat-raised-button
                class="add-button"
                color="dark"
                (click)="openDepartmentCreateDialog()"
        >
          <mat-icon class="add-button__icon" fontIcon="add" inline />
        </button>
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<ng-template #skeleton5>
  <ng-template [ngTemplateOutlet]="departmentSkeleton"/>
  <ng-template [ngTemplateOutlet]="departmentSkeleton"/>
  <ng-template [ngTemplateOutlet]="departmentSkeleton"/>
  <ng-template [ngTemplateOutlet]="departmentSkeleton"/>
  <ng-template [ngTemplateOutlet]="departmentSkeleton"/>
</ng-template>

<ng-template #departmentSkeleton>
  <li>
    <app-skeleton [dark]="true" width="1fr" height="170px" borderRadius="4px">
      <div>
        <app-skeleton width="100%" height="1.75rem" borderRadius="4px" />
      </div>
      <app-skeleton width="10rem" height="1.5rem" borderRadius="4px" />
      <app-skeleton width="15rem" height="1.25rem" borderRadius="4px" />
      <app-skeleton width="7rem" height="1.25rem" borderRadius="4px" />
      <app-skeleton width="15rem" height="1.25rem" borderRadius="4px" />
    </app-skeleton>
  </li>
</ng-template>
