.wrapper {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 50px;
  max-width: 60dvw;
  min-width: 760px;
  gap: 10px;

  @media (width < 780px) {
    min-width: 250px;
    max-width: unset;
  }
}

.content, .actions {
  padding-inline: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}

.departments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 1.75rem;
  font-family: "Russo One", "Helvetica Neue", sans-serif;
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
}
