.wrapper {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 50px;
  max-width: 60dvw;
  gap: 10px;

  @media (width < 1220px) {
    margin-inline: 100px;
  }

  @media (width < 900px) {
    margin-inline: 50px;
  }
}

.content, .actions {
  padding-inline: 20px;
}

.departments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 1.75rem;
  font-family: "Russo One", "Helvetica Neue", sans-serif;
  margin-bottom: 20px;
}
