<div class="cau">
  <h2 mat-dialog-title class="title">{{ history?.id ? history?.id : 'Новая заявка' }}</h2>
  <p class="time-offs-left">Осталось отгулов:10</p>
  <form [formGroup]="historyForm" class="form">
    <div class="type-wrapper">
      <h3 class="type">Тип</h3>
      <mat-select formControlName="type" placeholder="Выбрать тип" class="dates">
        <mat-option>Без причины</mat-option>
        @for (type of timeOffTypes; track type) {
          <mat-option [value]="type">{{ type }}</mat-option>
        }
      </mat-select>
    </div>
    <div>
      <label for="reason" class="reason-label">Причина</label>
      <textarea matInput name="reason" id="reason" formControlName="reason" class="reason"
                placeholder="Введите свою причину"></textarea>
    </div>
    <div class="date">
      <h3>Срок</h3>
      <mat-form-field class="date__field" appearance="outline">
        <mat-label>Выберите дату</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="От" formControlName="dateFrom">
          <input matEndDate placeholder="До" formControlName="dateTo">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <mat-dialog-actions>
      <button mat-raised-button class="save-btn" color="primary" (click)="saveChanges()">Отправить</button>
    </mat-dialog-actions>
  </form>
</div>
