<mat-card class="employee-card">
  <mat-card-content class="employee-card__content">
    <div class="employee-card__info">
      <h4
        class="employee-card__name">{{ employee.lastName }} {{ employee.firstName }}{{
          employee.surname ? " " +
            employee.surname : ""
        }}</h4>
      <p class="employee-card__role">{{
          employee.role === 'manager'
            ? 'Управляющий'
            : 'Сотрудник'
        }}</p>
      <p class="employee-card__email">{{ employee.email }}</p>
      <p class="employee-card__phone">{{ employee.phone }}</p>
    </div>
    <div class="employee-card__active" *ngIf="employee.role !== 'manager'">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon fontIcon="more_vert" />
      </button>
    </div>
  </mat-card-content>
</mat-card>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="openDeleteDialog()">
      <mat-icon fontIcon="edit" />
      Изменить
    </button>
    <button mat-menu-item (click)="openDeleteDialog()">
      <mat-icon fontIcon="delete" color="warn" />
      Удалить
    </button>
  </ng-template>
</mat-menu>
