<mat-card class="employee-card">
  <mat-card-content class="employee-card__content">
    <div class="employee-card__info">
      <app-employee-info-card name="ФИО" [value]="employee.name"/>
      <app-employee-info-card name="Почта" [value]="employee.email"/>
      <app-employee-info-card name="Телефон" [value]="employee.phone"/>
    </div>
    <button mat-icon-button class="employee-card__remove-btn" (click)="openDeleteDialog()">
      <mat-icon fontIcon="close" color="warn" />
    </button>
  </mat-card-content>
</mat-card>
