.employee-card {

  &__content {
    display: grid;
    align-items: center;
    grid-template-columns: 10fr 1fr;
  }

  &__remove-btn {
    justify-self: flex-end;
    align-self: flex-start;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    width: 100%;
  }
}

