.employee-card {

  &__content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;

    @media (width < 900px) {
      display: flex;
      align-items: flex-start;
      gap: 15px;
    }
  }

  &__remove-btn {
    justify-self: flex-end;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;

    @media (width < 900px) {
      display: flex;
      flex-wrap: wrap;
      > * {
        width: 100%;
      }
    }
  }
}

