<div class="cau">
  <h1 mat-dialog-title class="title">Новая заявка</h1>
  <div class="chill">Осталось отгулов: {{ history.dayoff }}</div>
  <mat-dialog-actions>
    <div class="type">Тип</div>
    <mat-select placeholder="Выбрать тип" class="Dates">
      <mat-option>Без причины</mat-option>
      @for (type of type; track type) {
        <mat-option [value]="type">{{type}}</mat-option>
      }
    </mat-select>
  </mat-dialog-actions>
  <form [formGroup]="historyForm" class="form">
    <div>
      <label for="reason" class="reason">Причина</label>
      <input name="reason" id="reason" formControlName="content" class="content" placeholder="Введите свою причину">

    </div>
  </form>
  <div class="date" ><p>Срок</p>
    <mat-form-field>
      <mat-label>Выберети дату</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
  <mat-dialog-actions>
    <button class="actions" (click)="saveChanges()">Отправить</button>
  </mat-dialog-actions>
</div>
