<mat-card class="wrapper">
  <mat-card-header class="header">
    <ul class="week-days">
      <li>Пн</li>
      <li>Вт</li>
      <li>Ср</li>
      <li>Чт</li>
      <li>Пт</li>
      <li class="day-off">Сб</li>
      <li class="day-off">Вс</li>
    </ul>
  </mat-card-header>
  <mat-card-content>
    <ul class="cells">
      <app-calendar-cell *ngFor="let day of beforeDays"
                         [day]="day" cellStyle="transparent"
                         [isToday]="day === currentDay" />
      <app-calendar-cell *ngFor="let day of currentMonthDays"
                         [day]="day"
                         [isToday]="day === currentDay" />
      <app-calendar-cell *ngFor="let day of fillDays"
                         [day]="day" cellStyle="transparent"
                         [isToday]="day === currentDay" />
    </ul>
  </mat-card-content>
</mat-card>
