<mat-card class="wrapper">
  <mat-card-header class="header">
    <ul class="week-days">
      <li>Пн</li>
      <li>Вт</li>
      <li>Ср</li>
      <li>Чт</li>
      <li>Пт</li>
      <li class="day-off">Сб</li>
      <li class="day-off">Вс</li>
    </ul>
  </mat-card-header>
  <mat-card-content>
    <ul class="cells">
      <app-calendar-cell *ngFor="let day of beforeDays; let i = index"
                         [day]="day" cellStyle="transparent"
                         [isToday]="day === currentDay &&
                                    monthOffset === 1 &&
                                    yearOffset === 0"
                         [isDayOff]="i > 4" />
      <app-calendar-cell *ngFor="let day of currentMonthDays; let i = index"
                         [day]="day"
                         [isToday]="day === currentDay &&
                                    monthOffset === 0 &&
                                    yearOffset === 0"
                         [isDayOff]="(monthStartDay + i + 1) % 7 === 0 || (monthStartDay + i) % 7 === 0" />
      <app-calendar-cell *ngFor="let day of fillDays; let i = index"
                         [day]="day" cellStyle="transparent"
                         [isToday]="day === currentDay &&
                                    monthOffset === -1 &&
                                    yearOffset === 0"
                         [isDayOff]="(beforeDays.length + currentMonthDays.length + i + 1) % 7 === 0 ||
                                      (beforeDays.length + currentMonthDays.length + i + 2) % 7 === 0" />
    </ul>
  </mat-card-content>
</mat-card>
