* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  //Main colors
  --color-accent: #8000FF;
  --color-bg: #323232;
  --color-primary: #404040;
  --color-red: #CC0062;
  --color-yellow: #ECE41E;
  --color-green: #00C673;

  //Text
  --text-color-main: #1C274C;
  --link-color-main: #5F5FFF;

  //Components
  --header-color: var(--color-accent);

  //Button
  --button-color-default: var(--color-accent);
  --button-color-hover: #A347FF;
  --button-color-active: #BF7FFF;
  --button-color-disabled: #4F4F4F;
  --button-text-color-disabled: rgba(255, 255, 255, 0.25);

  //Toggle button
  --toggle-color-checked: var(--color-green);

  //Application
  --application-bg-color: rgba(255, 255, 255, 0.25);
}
