.empty{
  color: #fff;
  font-size: 2rem;
  font-family: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
}

.header {
  margin-bottom: 25px;
}

.actions-container {
  margin-top: 25px;
}

.new-btn {
  font-size: 1.5rem;
  --mdc-protected-button-container-height: unset;
  padding: 1.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

