<mat-card class="wrapper">
  <mat-card-header class="header">
    <mat-card-title class="title">Очередь заявок</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="history$ | async as history">
    <ng-container *ngIf="history.length > 0; else history_empty">
      <ul class="list">
        <li *ngFor="let historyItem of history; let i = index">
          <app-manager-info-card [history]="historyItem" [number]="i+1" [user]="user"></app-manager-info-card>
        </li>
      </ul>
    </ng-container>
  </mat-card-content>
</mat-card>
<ng-template #history_empty>
  <p class="empty">Список пуст</p>
</ng-template>
